  .posts-zone {
    background-color: #AD6DDB;
    padding-bottom: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .latest-posts{
  color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 900;
  }
  .link{
    align-self: self-start;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 4px 14px;
    font-size: 1em;
    font-weight: 500;
    font-family: Roboto;
    color:white;
    background-color: blueviolet;
    cursor: pointer ;
    & h3 {
      margin: 0;
    }
  }
  .postsdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .link:hover{
    color: black;
    background-color: white;
  }
  .top-post{
    display: flex;
    font-weight: bold;
  }
  .bot-post{
    display: flex;
    justify-content: right;
    gap: 10px;
  }
  .post{
    background-color:blueviolet;
    border-radius: 10px;
    padding: 10px;
    width: 600px
  
  }
  .heart{
    height: 20px;
    width: 20px;
    color: white;
  }
  .like-btn .heart {
    transition: transform 0.4s ease
  }
  .like-btn, .like-btn:hover {
    background-color: transparent;
    border: none;
  }
  .like-btn:hover .heart{ 
    transform: scale(1.7) ;
  }
  .red{
    color: red;
  }
  .delete-btn{
    background-color: black;
    color: white;
  }