.top-post{
    display: flex;
  }
  .bot-post{
    display: flex;
    justify-content: right;
    gap: 10px
  }
  .post{
    background-color: rgba(61, 151, 36, 0.462);
    border: 2px solid;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 600px
  
  }