
.title{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posts-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding-right: 20px;
}

h1{ 
    display:none;
    color: rgb(98, 40, 184);
}

.namelogo{
    display: flex;
    top: 100px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.isocial {
    font-size: 30px;
    display: flex;
}